
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="page-header">
					<div class="blog">
						<h5>{{ post.autor }} // <i>{{ fecha }}</h5>
						<img src="{{ asset('img/' ~ post.imagen) }}" class="img-responsive" alt=""/>

						<p>{{ post.resumen }}</p>

						<h3>{{ post.titulo }}</h3>

						<p>{{ post.cuerpo }}</p>

						<div class="ficon">
							<a href="#" alt="">Learn more</a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<nav>
							<ul class="pagination">
								<li>
									<a href="{{ path('blog', {numBlog : nBlog + 1}) }}">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								{% set ind = 1 %}
								{% for nPost in posts %}
									<li>
										<a href="{{ path('blog', {numBlog : posts|length - ind}) }}">{{ ind }}</a>
									</li>
									{% set ind = ind + 1 %}
								{% endfor %}
								<li>
									<a href="{{ path('blog', {numBlog : nBlog - 1}) }}">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>


			<div class="col-md-4">
				<form class="form-search">
					<input class="form-control" type="text" placeholder="Search..">
				</form>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Popular Posts</strong>
					</div>
					{% set ind = 0 %}
					{% for miniPost in posts %}
						<div class="panel-body">
						<div class="media">
							<a class="media-left" href="#">
								<img src="img/b.jpg" alt="">
							</a>
							<div class="media-body">
								<h4 class="media-heading">{{ miniPost.autor }}</h4>
								<p>{{ miniPost.resumen }}</p>
								<div class="ficon">
									<a href="{{ path('blog', {numBlog : ind}) }}" alt="">Read more</a>
									{% set ind = ind + 1 %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{# <div class="embed-responsive embed-responsive-4by3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/HrdAkX0ue3k?list=PLB523918A978EF359" frameborder="1" allowfullscreen></iframe>
				</div> #}
			</div>
			<div class="col-md-4">
				<div class="popular-tags">
					<h5>Popular tags</h5>
					<ul class="tags">
						<li>
							<a href="#">Web design</a>
						</li>
						<li>
							<a href="#">Trends</a>
						</li>
						<li>
							<a href="#">Technology</a>
						</li>
						<li>
							<a href="#">Internet</a>
						</li>
						<li>
							<a href="#">Tutorial</a>
						</li>
						<li>
							<a href="#">Development</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>